@font-face {
  font-family: "Museo";
  src: url("./fonts/Museo.ttf");
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("./fonts/MuseoSansCyrl-500.ttf");
}

body {
  background: #e5e5e5;
}

ul {
  columns: 2 7px;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  line-height: 5px;
}

ul li {
  list-style: none;
  color: #151515;
  font-weight: 400;
  font-size: 22px;
  line-height: 90px;
  font-family: Museo;
  padding-bottom: 14px;
}

ul li span {
  float: right;
  font-family: "MuseoSansCyrl-500";
  color: #ba8d6c;
  font-weight: 800;
  font-size: 24px;
  line-height: 90px;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
}

h2 {
  font-family: Museo;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #111f25;
}
